body{
    /*  margin: auto; */
    position: center;
    /* display: table; */
    background-color: rgb(241 249 255);
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 3px 30px 3px;
}
.signup_container{
    max-width: 303px;
    display: block;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    margin-top: 20px;
    padding: 50px;
    margin: auto;
    box-shadow: 0px 5px 18px #0f273566;
}
.signup_container_div{
    display: grid;
}
.auth_div{
    display:none;
    transition: .3s;
}
.auth_tutorial{
    width: 100vw;
    display: block;
    margin:auto;
    display: none;
    background:#ebf4fa;
}
.auth_tutorial div{
    display: grid;
    grid-auto-flow: column;
    gap: 4px;
    align-items: center;
    justify-items: center;
    overflow: scroll;
    padding: 20px;
}
.auth_tutorial>*>img{
    height: 600px;
}
