body {
    width: 100%;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.contenu { 
    font-family: sans-serif; 
    width: 100%;
}
section {
    margin: 50px 10px; 
}
/* links */ 
a {
    color: black; 
    font-weight: bold;
    transition: .3s;  
}
a:hover {
    color: #DD4A15; 
}
/* cover section */ 
.cover_section {
    width: 100%; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 0px;  
    overflow-y: hidden; 
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.35) 0%, rgba(218,218,218,0.35) 55%, rgba(172,172,172,0.35) 100%);
}
.cover_section article {
    margin-top: 25px; 

}
.cover_section .hero_img img {
    width: 50%; 
}
.cover_section h1 {
    margin: 20px 15px; 
}
.value_statement p {
    width: 80%;
    margin-bottom: 15px;
}
/*second section */ 
.presentation_block ul, .video_guide {
    padding: 0px; 

}
.presentation_block li,  .video_guide li {
    padding: 0px;
    margin: 15px 15px 15px 25px ; 
    text-align: left;
}
.main_app_screen {
    display: none; 
}
/* how to section */
.how_to article {
    display: flex; 
    flex-direction: column; 
}
.video_block video {
    width: 100%; 
    background-color: grey;
    height: 45vh;
}
.video_guide {
    margin: 0px 10px; 
}
.video_guide li {
    text-align: left;
}
/*download section */ 
.download_section {
    margin: 0px; 
    padding: 20px 0px; 
    background-color: #020D26;
    color: white; 
    width: 100%;
}
.code_qr {
    background-color: white;
    padding: 15px;
    margin: 20px; 
    border-radius: 8px;
    color: black;
    text-align: center;
}
.direct_dowload_block {
    width: 80%;
    margin: 15px; 
    text-align: center;
}
.qr_section div img{
    height: 35vh; 
}
.screenshot {
    height: 60vh; 
}
.screenshot_vitrine p {
    text-align: center;
    margin: 10px; 
}
/* button style  */
.button {
    padding: 7px 15px;
    margin: 20px 20px !important;  
    color: white; 
    text-decoration: none; 
    font-weight: bold;   
}
.orange {
    background-color: #DD4A15;
    transition: .4s ease-in-out;
}
.orange:hover {
    background-color: black;
    color: white; 
}
.orange-white {
    border: 2px solid white;
    background-color: transparent;
    transition: .4s ease-in-out;
}
.orange-white:hover {
    border-color: #DD4A15;
    color: #DD4A15; 
}

.header .button.orange {
    margin: 0px; 
}
.blue {
    margin-top: 15px;
    border: 2px solid #DD4A15; 
    color: #DD4A15;
    transition: .4s ease-in-out;
}
.blue:hover {
    background-color: #DD4A15;
    color: white;
}
/*ending sections */ 
.ending_section p {
    text-align: justify;
}
.screen {
    margin: 25px 0px; 
}
.screen figure {
    margin: 0px;
}
.screen li {
    margin: 15px 0px; 
}
/* contact section */ 
.contact_info_block img {
    height: 40px; 
    margin: 0px 15px 0px 15px; 

}
.contact_info_block p {
    font-weight: bold;
    text-decoration: underline; 
}
.header {
    display: flex; 
    justify-content: space-between;
    align-items: center;

}
.header div {
    margin: 10px; 
}
.footer {
    background-color: #020D26;
    color: white; 
    padding: 15px; 
}
/* font sizes */ 
h1 {
    font-size: 28px;
}
h2 {
    font-size: 22px; 
}
.step_block {
    background-color: #020D26;
    color: white; 
    font-size: 18;
    font-weight: bold;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
}
@media screen and (min-width: 1000px)  {
    h1, H2, H3, li, p {
        text-align: left;
    }
    .header div {
        margin: 25px; 
    }
    section {
        width: 80%; 
    }
    .cover_section {
        flex-direction: row;
        height: 85vh; 
        width: 100%;
    }
    .cover_section div article {
        width: 50%;
        text-align: left;
    }
    .cover_section div article h1 {
        padding: 0; 
        margin: 0; 
    }
    .open_web {
        margin: 20px 15px 15px 0px !important; 
        display: inline-block;
    }
    .hero_img {
        height: 100%;
        width: 50%;
        position: relative;
    }
    .hero_img img {
        width: 65% !important;
        position: absolute; 
        top: 0px; 
    }
    .presentation_block {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .main_app_screen {
        display: block;

    }
    .main_app_screen img {
        width: 75%; 
    }
    .how_to article {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .qr_section .direct_dowload_block h2, .qr_section .direct_dowload_block p {
        text-align: left;
    }
    .qr_section {
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
    }
    .direct_download_block {
        width: 55%;
        margin-right: 15px;
    }
    .direct_dowload_block  {
        margin-top: 25px; 
    }
    .code_qr {
        width: 40%;
    }
    .code_qr h3, .code_qr p{
        text-align: center;

    }
    .verfication_section {
        width: 100%;
    }
    .pre_explanation {
        width: 80%;
    }
    .screenshot_vitrine {
        display: flex;
        width: 95% ;
        margin: 0px !important;
    }
    .screen {
        margin: 30px;
        width: 32%;
    }
    .ending_section {
        width: 100%;
    }
    .contact_section {
        width: 100%;
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,0.35) 0%, rgba(218,218,218,0.35) 55%, rgba(172,172,172,0.35) 100%);
    }
    .contact_section h2 {
        width: 80%;
        margin-bottom: 0px;
    }
    .contact_section section {
        margin-bottom: 0;
        margin-top: 15px;
        display: flex;
    }
    .contact_info_block div{
        display: flex;
        align-items: center;
        justify-content: left;
        text-align: center;
        margin: 5px;
    }
    .contact_section article {
        width: 45%;
        margin-right: 35px; 
        margin-bottom: 20px;
    }
    .footer p   {
        text-align: center;
    }
    h1 {
        font-size: 58px;
    }
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px; 
    }
    p, li {
        font-size: 17px !important;
        line-height: 1.3rem;
    }
    .ending_section {
        width: 80%;
    }
    .qr_section div img{
        height: 40vh; 
    }
    .screenshot {
        height: 65vh; 
    }
}